MYSQL_HOST=db
MYSQL_DATABASE=wordpress
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_SQL_FILENAME=nomebackup

SCHEDULE=0 * * * * *

S3_UPLOAD=true
S3_HOST=minio:9000
S3_PROTOCOL=http
S3_BUCKET=cicciopollo
S3_KEY=85A8U57ZITLSLFBYKNCG
S3_SECRET=14MAuAetrv7y3E6zAuUOimXy5KYRqrZKw3cWuEe/

MINIO_PORT=9000